*.dwl
*.o
*.a
*.d
*.mk
*.exe
*.elf
*.hex
*.log
~$*.*
*.lck
*.ar
*.eep
*.lss
*.map
*.srec
*.bak
*.kicad_pcb-bak
*.bck
*.dcm
*.tmp
*.atsuo
*.zcode
*.zproj
*.swap
*.swp
_autosave*.*
_saved*.sch
*.cmake
*.rej

cortex-workspace/
workspace/


Common/Default/
Kinematics/Default/
Planer/Default/
Cortex/Release/
Kinematics/Default/

ros/\.catkin_workspace
ros/build/
ros/devel/
ros/src/pentapod_engine/CMakeFiles/
ros/src/pentapod_engine/CTestTestfile/
ros/src/pentapod_engine/catkin_generated/
ros/src/pentapod_engine/cmake_install/
ros/src/pentapod_engine/cmake/
ros/src/pentapod_library/CMakeFiles/
ros/src/pentapod_library/catkin_generated/
ros/src/pentapod_server/CMakeFiles/
ros/src/pentapod_server/catkin_generated/
ros/src/catkin_generated/
ros/src/CMakeFiles/
ros/src/catkin/catkin_generated/version/
ros/src/devel/
ros/src/gtest/




ros/src/pentapod_server/maps/mymap\.pgm

ros/src/pentapod_server/maps/mymap\.yaml
