<!--
  navigation stack
 -->
<launch>

   <master auto="start"/>
   <!-- <param name="use_sim_time" value="true"/> -->
   <!-- without SLAM, the map2odom transformation is not done, replace that by static transformation.
        with SLAM, take care that hectorMapping parameter pub_map_odom_transform is set.
	   <include file="$(find pentapod_server)/launch/pentapod_bot.launch" />
   -->

   <!-- start the engine node -->
   <node name="pentapod_engine_node" 			pkg="pentapod_engine"  type="pentapod_engine_node" output="screen">
 	  <param name="cortex_serial_port"         	type="string" value="/dev/ttyS1"/>
 	  <param name="cortex_serial_baudrate"     	type="int"    value="230400"/>
      <param name="cortex_i2c_port"         	type="string" value="/dev/i2c-1"/>
	  <param name="cortex_i2c_address"     		type="int"    value="08"/>
   </node>
  
   <!-- start the orchestrating server node -->
   <node name="pentapod_server_node" 		pkg="pentapod_server"  type="pentapod_server_node" output="screen">
      <param name="webserver_port"     		type="int"    value="8000"/>
   </node>

  
   <node name="map_server" pkg="map_server" type="map_server" args="$(find pentapod_server)/maps/mymap.yaml" output="screen" />
   
   <!-- start static transformation map->odom -->
   <node pkg="tf" type="static_transform_publisher" name="map_2_odom"
	     args="0 0 0 0 0 0 /map /odom 100"/> 
	     
   <!-- start navigation stack via move_base node -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
       <!-- parameters valid for local and global costmap -->
       <rosparam file="$(find pentapod_server)/costmaps/costmap_common_params.yaml" command="load" ns="global_costmap" />
       <rosparam file="$(find pentapod_server)/costmaps/costmap_common_params.yaml" command="load" ns="local_costmap" /> 
       <rosparam file="$(find pentapod_server)/costmaps/local_costmap_params.yaml" command="load" /> 
       <rosparam file="$(find pentapod_server)/costmaps/global_costmap_params.yaml" command="load" /> 
       <rosparam file="$(find pentapod_server)/costmaps/base_local_planner_params.yaml" command="load" />
   </node>
</launch>
