<launch>
   <!-- start navigation stack via move_base node -->
   <node pkg="move_base" type="move_base" name="move_base" respawn="true" output="screen">
       <!-- global parameters -->
       <rosparam file="$(find pentapod_server)/config/base_local_planner_params.yaml" command="load" />

       <!-- parameters valid for local and global costmap -->
       <rosparam file="$(find pentapod_server)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
       <rosparam file="$(find pentapod_server)/config/costmap_common_params.yaml" command="load" ns="local_costmap" /> 

       <!-- separate parameters valid for local costmap -->
       <rosparam file="$(find pentapod_server)/config/local_costmap_params.sim.yaml" command="load" /> 

       <!-- separate parameters valid for global costmap  -->
       <rosparam file="$(find pentapod_server)/config/global_costmap_params.yaml" command="load" /> 

       <!-- separate parameters valid for local planner -->       
       <!-- give EBand Planner a try
	     <rosparam file="$(find pentapod_server)/config/eband_planner_params.yaml" command="load" ns="EBandPlannerROS" />
         <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>
   	   -->
       <rosparam file="$(find pentapod_server)/config/teb_local_planner_params.yaml" command="load" ns="TebLocalPlannerROS" />
       <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
       <param name="move_base/NavfnROS/use_grid_path" type="bool" value="true" />
       <param name="move_base/NavfnROS/use_dijkstra" type="bool" value="false" />


   </node>

   
</launch>
