<!--
  Start the mongoose webserver that is receiving commands and sending them to pentapod_engine 
 -->

<launch>

  <node name="pentapod_server" 		pkg="pentapod_server"  type="pentapod_server_node" output="screen">
    <rosparam file="$(find pentapod_server)/config/pentapod_server_params.yaml" command="load"/>
  </node>
</launch>
